@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: "Roboto", sans-serif;
}
.primary-nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    background-color: hsl(233, 16%, 21%);
    color: white;
}
#logo {
    width: 200px;
    height: auto;
    filter: invert(1);
    cursor: pointer;
    flex: 0 0 200px;
}
.primary-nav form {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 6px;
    gap: 5px;
    padding: 0px 10px;
    flex: 1 1 400px;
    max-width: 500px;
}
.primary-nav form img {
    width: 15px;
    height: auto;
}
.primary-nav form input {
    border: none;
    outline: none;
    height: 35px;
    width: 100%;
}
.primary-nav form input:focus,
.primary-nav form input:hover {
    border: none;
    outline: none;
}

.btn_whishList,
.btn_whishList:focus,
.btn_whishList:hover {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 max-content;
}
.btn_sign_in {
    padding: 6px 10px;
    font-size: 20px;
    color: white;
    background-color: hsl(234, 6%, 35%);
    border-radius: 6px;
    margin-left: auto;
    cursor: pointer;
    flex: 0 0 max-content;
}
.btn_log_out {
    padding: 6px 10px;
    font-size: 20px;
    color: white;
    background-color: hsl(234, 6%, 35%);
    border-radius: 6px;
    /* margin-left: auto; */
    cursor: pointer;
    flex: 0 0 max-content;
}
.user_text {
    padding: 6px 10px;
    font-size: 20px;
    color: white;
    background-color: hsl(234, 6%, 35%);
    border-radius: 6px;
    margin-left: auto;
    cursor: pointer;
    flex: 0 0 max-content;
}
.btn_whishList img {
    width: 20px;
    height: auto;
}
.secondary-nav {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background-color: hsl(240, 16%, 4%);
    gap: 10px;
    overflow-y: auto;
}
.btn_genre {
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 150px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

/* Firefox */
.secondary-nav {
    scrollbar-width: thin;
    scrollbar-color: #656fbc #b3b5e6;
}

/* Chrome, Edge and Safari */
.secondary-nav::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.secondary-nav::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #b3b5e6;
}

.secondary-nav::-webkit-scrollbar-track:hover {
    background-color: #b8c0c2;
}

.secondary-nav::-webkit-scrollbar-track:active {
    background-color: #b8c0c2;
}

.secondary-nav::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #656fbc;
}

.secondary-nav::-webkit-scrollbar-thumb:hover {
    background-color: #5357a3;
}

.secondary-nav::-webkit-scrollbar-thumb:active {
    background-color: #557da3;
}
.home {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 60px;
    background-color: #c9e6ff;
}
.movie-card {
    flex: 1 1 300px;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    min-width: 250px;
}

.movie-card-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.movie_details {
    background-color: #5357a3;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
}

.movie-details-primary {
    height: max(max-content, 100vh);
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    padding: 60px 10%;
    gap: 30px;
    /* align-items: center; */
}
.movie-details-primary::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    z-index: 0;
}
.movie-details-image-container {
    height: 400px;
    width: 300px;
    position: relative;
    z-index: 10;
}
.movie-details-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.movie-details,
.movie-details h2,
.movie-details h3,
.movie-details p {
    position: relative;
    z-index: 10;
    color: white;
}

.movie-details-title {
    font-size: 32px;
}
.movie-details-rating {
    font-size: 26px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.movie-details-rating img {
    width: 35px;
    height: auto;
}
.movie-details-vote-count {
    font-weight: 400;
    font-size: 18px;
    align-self: bottom;
}
.movie-details .movie-details-in-theaters {
    background-color: white;
    color: black;
    padding: 5px 10px;
    margin: 20px 0px;
    font-size: 16px;
    border-radius: 5px;
    width: max-content;
    word-spacing: 5px;
}
.movie-details .movie-details-auxillary {
    background-color: white;
    color: black;
    padding: 5px 10px;
    margin: 20px 0px;
    font-size: 16px;
    border-radius: 5px;
    width: max-content;
    word-spacing: 5px;
}

.movie-details button {
    padding: 10px 25px;
    background-color: red;
    color: white;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
.movie-details-overview {
    line-height: 25px;
    margin: 20px 0px;
}

.movie-details-secondary {
    width: 80%;
    margin: 30px auto;
    font-weight: 500;
    font-size: 16px;
}
.movie-details-tagline {
    text-align: right;
}
.movie-booking {
    display: flex;
    /* align-items: center; */
    width: max-content;
    gap: 20px;
    margin: 30px auto;
}
.movie-booking-letters {
    font-size: 26px;
    color: silver;
    font-weight: 500;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.movie-booking-seats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 500px;
    justify-content: center;
    /* flex-direction: row-reverse; */
}
.seat {
    border: 2px silver solid;
    /* padding: 12px; */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: max-content; */
    /* width: max-content; */
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
/* .seat.available{
    
} */
.seat.booked {
    opacity: 0.5;
    cursor: not-allowed;
}
.seat.selected {
    background-color: rgba(147, 223, 34, 0.459);
}
.theater-image {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: auto;
}

.checkout-page {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgb(255, 245, 245);
}
.left-column {
    flex: 1 1 auto;
    border-radius: 8px;
    background-color: white;
}

.right-column {
    flex: 0 0 400px;
    border-radius: 8px;
    background-color: white;
}
.movie-checkout-image-container {
    margin: 10px auto;
    height: 300px;
    width: 220px;
    border-radius: 8px;
}
.movie-checkout-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}
.movie-checkout-title {
    text-align: center;
}
.movie-checkout-overview {
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    line-height: 25px;
}
.movie-checkout-tagline {
    width: 80%;
    margin: 30px auto;
    text-align: right;
}
.booking-summary-title {
    margin: 20px;
}
.booking-summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}
.booking-summary-row.final {
    background-color: rgba(255, 249, 177, 0.847);
}
.booking-summary-row ~ .booking-summary-row {
    border-top: 2px silver dotted;
}
.checkout-form input {
    display: block;
    padding: 10px 20px;
    width: 90%;
    border-radius: 8px;
    margin: 10px auto;
}
.checkout-form button {
    width: 90%;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(1, 200, 255);
    color: white;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}
.heart {
    filter: invert(1);
    position: relative;
    z-index: 10;
    /* background-color: red; */
}
.book-and-favorite {
    display: flex;
    gap: 20px;
    align-items: center;
}
.book-and-favorite img {
    width: 25px;
    height: auto;
    cursor: pointer;
}
.favorites-page {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 60px;
    background-color: #c9e6ff;
}
.proceed_checkout {
    color: black;
    width: 100vw;
    background-color: blue;
}
.nav-primary-nav-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}
@media screen and (max-width: 690px) {
    .checkout-page {
        flex-direction: column;
    }
}
@media screen and (max-width: 915px) {
    .primary-nav {
        flex-direction: column;
        height: 205px;
    }
    #logo {
        width: 250px;
        flex: 1;
    }
    .primary-nav form {
        max-width: none;
        width: 100%;
        flex: 1;
    }
    /* .user_text{
        order: 2;
    } */
    .nav-primary-nav-buttons {
        margin: 0px auto;
    }
    .movie-details-primary {
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    }
    .movie-details-image-container {
        display: block;
        margin: 0 auto;
    }
    .movie-details-in-theaters,
    .movie-details-auxillary {
        max-width: max(270px, 80%);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .movie-booking {
        gap: 0px;
        width: 350px;
    }
    .movie-booking-seats {
        gap: 2px;
    }
    .seat {
    }
    .movie-booking-letters {
        padding-left: 4px;
    }
}
